.container{
    text-align:center; 
    position:relative;
}

.img{
    height: 250px;
    width: 100%;
}

.div-vot {
   position: absolute;
    top: 70%; left:0;
    color:white; font-size: 30px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold; margin:auto; width:100%;
}

h5 {
    text-align:center;
    margin-top:40px;
}

.lista {
    background-color:#d0d0d085;
    border-radius:5px; 
    height:55px;
    margin-top:3px
}

.but {
    background-color:#007bff;
    margin-right:60px;
    text-transform:none;
    letter-spacing: normal;
    font-size:15px;
    font-weight: 600
}

.list-detail {
    background-color: #eeeeee82;
    border-radius: 5px;
    height: 55px;
    margin-top: 3px;
}

.list-item {
    background-color: #d0d0d085;
    border-radius:5px;
    height:55px; 
    margin-top:3px
}